@import '_mini-reset.css';
@import '_chat-app.css';

body {
  background: url(/images/bot_bg.jpg) no-repeat left center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
